@import '../../styles/abstract/mixins.scss';
@import '../../styles/abstract/constants.scss';

.line{
    display: flex;
    gap: 17px;
    align-items: center;
    &_type_head{
        padding: 45px 0 40px 0;
        @include font-CTAbody-regular;
    }
    &_type_body{
        padding-bottom: 25px;
    }
}
.cell{
    text-align: start;
    max-height: 75px;
    font-size: 20px;
    font-weight: 400;
    line-height: 25px; 
    
    &__text{
        padding: 0;
        margin: 0;
        max-height: 75px;
        text-overflow: ellipsis;
        overflow: hidden;
    }
    &_type_checkbox{
        display: flex;
        justify-content: center;
    }
}
.cellLogo{
    width: 85px;
    &__img{

        width: 60px;
        height: 60px;
        object-fit: contain;
        border-radius: 10px;
    }
}
.cellName{
    width: 200px;
}
.cellVendorCategory{
    width: 170px;
}
.cellArt{
width: 140px;
}
.cellDescription{
    width: 230px;
}
.cellData{
    width: 120px;
}
.cellRed{
    width: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.redBtn{
    width: 25px;
    height: 25px;
    background: url('../../images/pencil.svg') no-repeat center transparent;
    border: none;
    cursor: pointer;
    &:hover{
        opacity: .8;
    }
}
.cardtable__btncontainer{
    display: flex;
    gap: 20px;
}
.cardtable__btn{
    border: none;
    background-color: transparent;
    border-bottom: 1px solid ;
    cursor: pointer;
    color:  $dark-grey;
    &:hover{
        opacity: .7;
    }
}
