@import '../../styles/abstract/constants.scss';
@import '../../styles/abstract/mixins.scss';

.breadcrumbs {
  margin-top: 70px;
  padding: 0 80px;
}

.cart {
  text-align: start;
  padding: 70px 40px 135px;

  &__header {
    @include font-h1-bold;
    margin: 0;
    margin-bottom: 30px;
    margin-left: 40px;
  }
  &__content {
    display: flex;
  }
}
