@import './../../styles/abstract/constants.scss';
@import '../../styles/abstract/mixins.scss';

.checkbox {
  position: relative;
  cursor: pointer;
  @include font-body-filters;
  display: flex;
  align-items: center;
  color: $dark-grey;

  &__input {
    opacity: 0;
    position: absolute;
  }

  &__custom {
    color: $white-standart;
    width: 20px;
    height: 20px;
    background-color: $white-standart;
    border: 2px solid $dark-grey;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    box-sizing: border-box;
    transition: 0.2s background-color ease-in-out;
  }

  &_checked &__custom {
    background-color: $dark-grey;
  }

  &__text {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
}
