@import './../../styles/abstract/constants.scss';
@import './../../styles/abstract/mixins.scss';

.list{
    margin: 0 0 0 50px;
    padding: 0;
    list-style: none;
    display: flex;
    gap: 28px;
}
.item{
    margin: 0;
    padding: 0;
}
.button{
    border: none;
    background-color: transparent;
    color: $dark-grey;
    cursor: pointer;
    @include font-body-regular;
}
.link{
    color: $dark-grey;
    text-decoration: none;
    @include font-body-regular;
}
