@import './../../styles/abstract/constants.scss';
@import '../../styles/abstract/mixins.scss';

.product {
  display: flex;
  gap: 190px;
  max-width: 1758px;
  width: 100%;
  margin: 60px auto 135px;
  @include font-body-regular;
  color: $dark-grey;

  &__imageContainer {
    position: relative;
    width: 860px;
    height: 612px;
  }

  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px
  }

  &__category {
    @include font-body-filters;
    margin-bottom: 25px;
  }

  &__likeButton {
    border: none;
    position: absolute;
    right: 12px;
    bottom: 12px;

    padding: 0;
    background-color: transparent;
    cursor: pointer;
  }

  &__info {
    // color: #9fa4af;
    text-align: left;
    display: flex;
    flex-direction: column;
    line-height: 35px;
    max-width: 708px;
    width: 100%;
  }
  &__name {
    margin: 0;
    @include font-h2-simibold;
    color: $black-standart-text;
  }

  &__vendor {
    margin-bottom: 10px;
  }

  &__details {
    display: flex;
    justify-content: space-between;
    width: 455px;
    align-items: center;
    margin-bottom: 30px;
    align-items: center;
  }

  &__number {
    @include font-body-filters;
    margin-bottom: 28px;
  }

  &__price {
    @include font-h3-regular;
    margin: 0;
    color: $black-standart-text;
  }

  &__seller {
    margin: 0;
    @include font-body-filters;
    margin-right: 50px;
  }

  &__description {
    margin: 0;
    margin-bottom: 30px;
    flex: 1;
  }

  &__checkboxContainer {
    display: flex;
    margin-bottom: 30px;
    height: 24px;
  }

  &__checkbox {
    margin-right: 12px;
    cursor: pointer;
  }

  &__additionalOption {
    @include font-body-filters;
  }
}
