@import '../../styles/abstract/mixins.scss';
@import '../../styles/abstract/constants.scss';
.popup{
    background-color: rgba($dark-grey, 0.7);
	width: 100vw;
	min-height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: center;
	z-index: 15;
	visibility: hidden;
	opacity: 0;
	transition: visibility 0.3s, opacity ease 0.3s;
	overflow: auto;
	&__carderror{
		height: 10px;
	}
	&__errorspan{
		padding: 0;
		margin: 0;
		padding-left: 12px;
		color: $red-alert-system;
		@include font-body-filters;
		display: block;
		height: 40px;
		text-align: left;
	}
    &_opened{
        visibility: visible;
	    opacity: 1;
    }
	&__title{
		@include font-h3-regular;
		color: $black-standart-text;
	}
    &__container{
		width: 70%;
        max-width: 510px;
	    box-sizing: border-box;
	    margin: 0 auto;
	    padding: 40px 40px 25px 40px;
	    border-radius: 20px;
	    background-color: $white-standart;
	    display: flex;
	    flex-direction: column;
	    overflow: auto;
	    position: absolute;
		top: 72px;
		right: 0;
		left: 0;
		align-items: center;
    }
	&__role{
		margin: 0;
		padding: 20px 0 17px 0;
		@include font-h3-bold;
	}
    &__closebtn{
        margin: 0;
        padding: 0;
        background-color: transparent;
        border: none;
        cursor: pointer;
		position: absolute;
        top: 13px;
        right: 37px;
		width: 40px;
		height: 40px;
		background-image: url('../../images/close-icon.svg');
    }
	&__btncontainer{
		display: flex;
		margin: 15px 0 0 0;
		width: 100%;
		justify-content: space-between;
		@include font-body-link;
	}
	&__exitcontainerbtn{
		display: flex;
		margin-top: 50px;
		gap: 30px;
		width: 100%;
	}
	&__exittext{
		margin: 15px 0 0 0;
		color: $dark-grey;
		@include font-input-field;
	}
}
.form{
	width: 97%;
	margin-top: 15px;
	&_type_recoverPassword{
		margin-top: 0;
	}
	&_type_auth{
		margin-top: 20px;
	}
	&_type_admin{
		margin: 0 0 20px 0;
	}
}
.checkboxcontainer{
	display: flex;
	margin: 8px 0 15px 0;
	align-items: center;
	gap: 15px;
	&__input{
		flex-shrink: 0;
		height: 20px;
		width: 20px;
	}
	&__label{
		text-align: left;
		color: $dark-grey;
		@include font-body-filters;
	}
	&_type_auth{
		margin: 3px 0 0 0;
	}
	&_type_reg{
		margin: 3px 0 0 0
	}

}
.btncontainer{
	display: flex;
	gap: 20px;
	justify-content: center;
	&_type_recoverpassword{
		margin-top: 30px;
	}
}
.errorContainer{
	min-height: 35px;
	&__error{
		margin: 0;
		color: $red-alert-system;
		@include font-body-filters;
	}
}
.input__field {
	box-sizing: border-box;
	@include font-CTAbody-regular;
	padding: 10px 12px;
	border-radius: 20px;
	border: 1px solid $border-input;
    color: $dark-grey;
	background-color: $light-grey;
}
.input__field:focus {
	outline: none;
}

.input__field:read-only:focus {
	outline: none;
}

.containerPayPopup{
	display:flex;
	flex-direction: column;
	width: 100%;
	margin-bottom: 20px;
	&__label{
		width: 100%;
		padding-left: 12px;
		@include font-CTAbody-regular;
    	color: $dark-grey;
		text-align: left;
		padding-bottom: 10px;
	}
	&_type_validData{
		width: 48%;
	}
}
.input__error {
	padding-left: 12px;
	color: $red-alert-system;
	@include font-body-filters;
	display: block;
	height: 40px;
	text-align: left;
}
.containerForDataCard{
	display: flex;
	gap: 20px;
	width: 100%;
}

