  //Colors
  $black-standart-text: #0E1004;
  $dark-grey: #55505C;
  $light-grey: #E8ECED;
  $white-standart: #FFFFFF;
  $accent-lime-button: #C9FA4C;
  $accent-lime-yellow: #EEFFC3;
  $green-approve-system: #45B96D;
  $green-approve-pressed: #309252;
  $red-alert-system: #D83B06;
  $red-alert-pressed: #BB3203;
  $border-input: #8FA4BE;
  $link: #1490EB;
  $faint-grey: #F7F8F8;
