  //Colors
  $black-standart-text: #0E1004;
  $dark-grey: #55505C;
  $light-grey: #E8ECED;
  $white-standart: #FFFFFF;
  $accent-lime-button: #C9FA4C;
  $accent-lime-yellow: #EEFFC3;
  $green-approve-system: #45B96D;
  $red-alert-system: #D83B06;
  $border-input: #C1C2C2;
  $link: #1490EB;
