@import './placeholders';
@import './constants';

@mixin font-h1-bold {
    @extend %font-display;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 60px;
}
  
@mixin font-h2-simibold {
    @extend %font-display;
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: 48px;
}
@mixin font-h3-regular {
    @extend %font-display;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: 36px;
}
@mixin font-body-bold {
    @extend %font-display;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 26px;
}
@mixin font-body-regular {
    @extend %font-display;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 35px;
}
@mixin font-CTAbody-regular {
    @extend %font-display;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 25px;
}
@mixin font-body-filters {
    @extend %font-display;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
}
@mixin font-body-card {
    @extend %font-display;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 16px;
}
@mixin font-body-signature {
    @extend %font-display;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: 10px;
}
@mixin font-body-link {
    @extend %font-display;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 25px;
    cursor: pointer;
    text-decoration: underline;
}

