@import '../../styles/abstract/mixins.scss';
@import '../../styles/abstract/constants.scss';

.personalTitles {
  list-style-type: none;
  text-align: start;
  margin-top: 70px;
  display: flex;
  flex-direction: column;

  &__titles {
    border-radius: 30px;
    margin-bottom: 15px;
    padding: 15px 30px;
    @include font-body-regular;
    cursor: pointer;
    text-decoration: none;
    color: $black-standart-text;
    &_active {
      background-color: $light-grey;
    }
  }
  &__titles:focus,
  &__titles:hover {
    background-color: $light-grey;
  }
  &__btn {
    border: none;
    color: $black-standart-text;
    background-color: transparent;
    @include font-body-regular;
    text-align: left;
    border-radius: 30px;
    margin-bottom: 15px;
    padding: 15px 30px;
    cursor: pointer;
    &:hover {
      background-color: $light-grey;
    }
  }
}
