@import '../../styles/abstract/constants.scss';
@import '../../styles/abstract/mixins.scss';


.input__container {
	width: 100%;
	display: flex;
	flex-direction: column;
	position: relative;
	&_type_phone{
		position: relative;
		&::before{
			content: '+7';
			position: absolute;
			color: $dark-grey;
			display: block;
			height: 20px;
			width: 20px;
			top: 36px;
			left:12px;
			color: $black-standart-text;
			@include font-input-field;
		}
	}
}

.input__hints {
	width: 100%;
	display: flex;
	flex-direction: column;
}

.input__label {
	width: 100%;
	@include font-CTAbody-regular;
    color: $dark-grey;
	text-align: left;
	padding-bottom: 6px;
}

.input__error {
	color: $red-alert-system;
	@include font-body-filters;
	display: block;
	height: 25px;
	text-align: left;
	margin: 0;
	&_type_data{
		height: 14px;
	}
	&_type_addCardError{
		height: 12px;
	}
}

.input__field {
	box-sizing: border-box;
	@include font-input-field;
	padding: 9px 12px;
	border-radius: 8px;
	border: 1px solid $border-input;
    color: $black-standart-text;
	background: rgba(233, 242, 255, 0.20);
	&_type_error{
		border: 1px solid $red-alert-system;
	}
	&_type_INN{
		width: 33%;
	}
	&_type_phone{
		width: 43%;
		padding-left: 32px;
		position: relative;
	}
	&_disabled {
		background: $light-grey;
	}
}

.input__field:focus {
	outline: none;
}

.input__field:read-only:focus {
	outline: none;
}

.input__button {
	background-image: url('../../images/eye.svg');
	position: absolute;
	top: 34px;
	right: 12px;
	width: 24px;
	height: 24px;
	border: none;
	background-color: inherit;
	padding: 0;
	margin: 0;
	cursor: pointer;
	transition: opacity 0.2s;
}
.input__button_clicked{
	background-image: url('../../images/eye_clicked.svg');
}

.input__button:hover {
	opacity: 0.6;
}
.input__help{
	margin: 0;
	padding: 0;
	color: $dark-grey;
	@include font-body-filters;
}


