@import '../../styles/abstract/constants.scss';
@import '../../styles/abstract/mixins.scss';
.input__container {
	width: 100%;
	display: flex;
	flex-direction: column;
	position: relative;
}

.input__hints {
	width: 100%;
	display: flex;
	flex-direction: column;
}

.input__label {
	width: 100%;
	@include font-CTAbody-regular;
    color: $dark-grey;
	text-align: left;
	padding-bottom: 3px;
}

.input__error {
	color: $red-alert-system;
	@include font-body-filters;
	display: block;
	height: 40px;
	text-align: left;
	margin-top: 5px;
}

.input__field {
	box-sizing: border-box;
	@include font-input-field;
	padding: 10px 12px;
	border-radius: 4px;
	border: 1px solid $border-input;
    color: $black-standart-text;
	background: rgba(233, 242, 255, 0.20);
	&_type_error{
		background: rgba(255, 233, 237, 0.20); 
		border: 1px solid $red-alert-system;
	}
}

.input__field:focus {
	outline: none;
}

.input__field:read-only:focus {
	outline: none;
}

.input__button {
	background-image: url('../../images/eye.svg');
	position: absolute;
	top: 32px;
	right: 15px;
	width: 24px;
	height: 24px;
	border: none;
	background-color: inherit;
	padding: 0;
	margin: 0;
	cursor: pointer;
	transition: opacity 0.2s;
}
.input__button_clicked{
	background-image: url('../../images/eye_clicked.svg');
}

.input__button:hover {
	opacity: 0.6;
}
.input__help{
	margin: 0;
	padding: 0;
	color: $dark-grey;
	@include font-body-filters;
}

