.personalFavorites {
    margin-top: 65px;
    margin-left: 160px;
  &__title {
    margin: 0;
    font-size: 36px;
    font-weight: 600;
    line-height: 50px;
    text-align: start;
  }

  &__list {
    margin-top: 45px;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(3, 320px);
    justify-content: space-between;
    gap: 40px;
    padding: 0;
  }

  &__item {
    background-color: white;
  }
}
