@import './../../styles/abstract/constants.scss';
@import '../../styles/abstract/mixins.scss';

.contacts {
  width: 100%;
  margin: 0 auto;
  padding: 0;

  &__title {
    text-align: left;
    margin: 45px 0 0;
    color: $black-standart-text;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
  }

  &__container {
    margin: 35px 0 120px;
    display: flex;
    justify-content: space-between;
    column-gap: 30px;
  }

  &__items {
    padding: 0;
    margin: 0;
    flex: 0 1 398px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    text-align: left;
    list-style: none;
  }

  &__subtitle {
    margin: 0 0 10px;
    color: $black-standart-text;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 35px;
  }

  &__text {
    margin: 0;
    color: $dark-grey;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
    text-decoration: none;
  }

  &__socials {
    display: flex;
    gap: 15px;
  }

  &__social_icon {
    width: 30px;
    height: 30px;

    &:hover {
      fill: $black-standart-text;
    }
  }

  &__map {
    margin-top: 8px;
    flex: 0 0 635px;
  }

  &__frame {
    border-radius: 12.6px;
  }
}

.breadcrumbs {
  margin-top: 68px;
}
