.categories{
    margin: 35px 0 0 0;
    padding: 0;
    list-style: none;
    display: flex;
    gap: 25px;
}
.btn{
    margin: 0;
    padding: 10px;
    border-radius: 20px;
    border: none;
    box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
    cursor: pointer;

}
