@import './../../styles/abstract/constants.scss';
@import '../../styles/abstract/mixins.scss';

.button {
  cursor: pointer;
  border-radius: 32px;
  border: none;
  width: 100%;
  height: 100%;
}

.primary {
  background-color: $accent-lime-button;
  transition: box-shadow 0.3s ease-out;
  @include font-CTAbody-regular;
  width: 100%;
  height: 55px;
  &_inactive{
    background-color: $light-grey;
		cursor: default;
    pointer-events: none;
  }
}
.primary:hover {
  box-shadow: 0 4px 20px 0 rgba(85, 80, 92, 0.5);
}

.secondary {
  background-color: transparent;
  border: 1px #c1c2c2 solid;
  color: $dark-grey;
  transition: background-color 0.3s ease-out;
  @include font-body-filters;
  width: 100%;
  height: 55px;
  &_inactive{
    background-color: $light-grey;
		cursor: default;
  }
}

.secondary:hover {
  background-color: $light-grey;
}
