@import '../../styles/abstract/mixins.scss';
@import '../../styles/abstract/constants.scss';

.personalSettingsData {
  &__inputs {
    max-width: 500px;
  }
  &__btncontainer {
    display: flex;
    justify-content: space-between;
    gap: 40px;
  }
}
