@import '../../styles/abstract/constants.scss';
@import '../../styles/abstract/mixins.scss';

.published {
  margin-top: 9px;

  &__header {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
  }

  &__item {
    text-align: start;
    @include font-body-regular;

    &:first-child {
      margin-left: 10px;
      flex: 0 0 65px;
    }
    &:nth-child(2) {
      flex: 0 0 200px;
    }
    &:nth-child(3) {
      flex: 0 0 125px;
    }
    &:nth-child(4) {
      flex: 0 0 140px;
    }
    &:nth-child(5) {
      flex: 0 0 120px;
    }
  }

  &__list {
    padding: 0;
    margin-top: 25px;
  }
}
