@import '../../styles/abstract/constants.scss';
@import '../../styles/abstract/mixins.scss';

.card {
  display: flex;
  flex-direction: column;
  width: 190px;
  height: 293px;
  padding: 15px 10px;
  border: 1px solid $light-grey;
  border-radius: 20px;
  transition: box-shadow 0.15s ease;
  position: relative;

  &:hover {
    box-shadow: 0px 4px 20px 0px rgba(57, 57, 57, 0.15);
  }

  &__link {
    text-decoration: none;
  }

  &__img {
    width: 100%;
    height: 195px;
    background-color: $light-grey;
    object-fit: cover;
  }

  &__img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__likeBtn {
    width: 35px;
    height: 35px;
    padding: 0;
    position: absolute;
    top: 19px;
    left: 10px;
    outline: none;
    border: none;
    background-color: transparent;
    cursor: pointer;
  }

  &__likeBtn svg {
    opacity: 0.5;
    transition: opacity 0.2s ease;
    fill: $dark-grey;
  }

  &__likeBtn svg:hover {
    opacity: 1;
  }

  &__name {
    text-align: start;
    margin: 5px 5px 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    color: $black-standart-text;
    @include font-preview-bold;
  }

  &__priceContainer {
    height: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2px 5px 0;
  }

  &__price {
    margin: 0;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    color: $black-standart-text;
  }

  &__installPrice {
    color: $dark-grey;
    display: flex;
    gap: 10px;
    width: 100px;
  }

  &__installPrice > span:nth-of-type(1) {
    @include font-CTAbody-regular;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  &__tooltip {
    position: relative;
  }

  &__tooltipBtn {
    width: 16px;
    height: 16px;
    border: none;
    padding: 0;
    outline: none;
    background-color: transparent;
  }

  &__tooltipBtn svg {
    width: 20px;
    height: 20px;
    fill: $light-grey;

    &:hover {
      fill: $white-standart;
    }
  }

  &__tooltipBtn:hover + .card__tooltipText,
  &__tooltipBtn:focus + .card__tooltipText {
    display: block;
  }

  &__tooltipText {
    display: none;
    width: 138px;
    padding: 10px;
    border-radius: 5px;
    background-color: $light-grey;
    color: $dark-grey;
    position: absolute;
    bottom: 21px;
    right: -28px;
    z-index: 5;
    text-align: start;
    @include font-body-signature;
  }

  &__addBtn {
    margin-top: 11px;

  }

}
