@import '../../styles/abstract/constants.scss';
@import '../../styles/abstract/mixins.scss';

.card {
  display: flex;
  flex-direction: column;
  width: 290px;
  height: 460px;
  padding: 15px 15px 25px 15px;
  border-radius: 20px;
  box-shadow: 0px 4px 20px 0px rgba(57, 57, 57, 0.15);
  transition: box-shadow 0.15s ease;
  position: relative;

  &:hover {
    box-shadow: 0px 4px 20px 0px $dark-grey;
  }

  &__link {
    text-decoration: none;
  }

  &__img {
    width: 100%;
    min-height: 295px;
    background-color: $light-grey;
    object-fit: cover;
  }

  &__img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__likeBtn {
    width: 35px;
    height: 35px;
    padding: 0;
    position: absolute;
    top: 15px;
    left: 15px;
    outline: none;
    border: none;
    background-color: transparent;
    cursor: pointer;
  }

  &__likeBtn svg {
    opacity: 0.5;
    transition: opacity 0.2s ease;
  }

  &__likeBtn svg:hover {
    opacity: 1;
  }

  &__name {
    text-align: start;
    margin: 13px 0 0 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    color: $black-standart-text;
    @include font-body-bold;
  }

  &__priceContainer {
    height: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 24px 0;
  }

  &__price {
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    color: $black-standart-text;
  }

  &__installPrice {
    height: 24px;
    padding: 4px 8px;
    border-radius: 16px;
    background-color: $dark-grey;
    color: $white-standart;
    display: flex;
    align-items: center;
    gap: 8px;
    width: 160px;
  }

  &__installPrice span {
    @include font-body-signature;
  }
  &__installPrice span:nth-of-type(1) {
    width: 65px;
  }
  &__installPrice span:nth-of-type(2) {
    max-width: 65px;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 15px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  &__tooltip {
    position: relative;
  }

  &__tooltipBtn {
    width: 12px;
    height: 12px;
    border: none;
    padding: 0;
    outline: none;
    background-color: transparent;
  }

  &__tooltipBtn svg {
    fill: $light-grey;

    &:hover {
      fill: $white-standart;
    }
  }

  &__tooltipBtn:hover + .card__tooltipText,
  &__tooltipBtn:focus + .card__tooltipText {
    display: block;
  }

  &__tooltipText {
    display: none;
    width: 138px;
    padding: 10px;
    border-radius: 5px;
    background-color: $light-grey;
    color: $dark-grey;
    position: absolute;
    bottom: 15px;
    left: -128px;
    z-index: 5;
    text-align: start;
    @include font-body-signature;
  }

  &__addBtn {
    width: 100%;
    height: 55px;
    margin-top: 24px;
    border-radius: 32px;
    outline: none;
    border: none;
    background-color: $accent-lime-button;
    cursor: pointer;
    transition: background-color 0.3s ease;
    @include font-CTAbody-regular;
  }

  &__addBtn:hover {
    background-color: $dark-grey;
    color: $white-standart;
  }
}
