.cardPurchases {
  display: flex;
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  border-radius: 20px;
  box-shadow: 0px 4px 20px 0px rgba(57, 57, 57, 0.15);
  transition: box-shadow 0.3s ease;
  padding: 16px;
  margin-bottom: 5px;


  &:hover {
    box-shadow: 0px 4px 20px 0px #c9fa4c;
  }

  &__img {
    width: 110px;
    height: 110px;
    background-color: bisque;
    position: relative;
    object-fit: cover;
  }

  &__img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  &__photoProduct {
    display: flex;
  }
  &__nameProduct {
    margin-left: 40px;
    display: flex;
    flex-direction: column;
    text-align: start;
  }
  &__name {
    margin: 0;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 35px;
  }
  &__brand {
    margin: 10px 0 0;
    font-size: 16px;
    font-weight: 500;
    line-height: 19.2px;
  }
  &__describe {
    margin: 10px 0 0;
    font-size: 16px;
    font-weight: 500;
    line-height: 19.2px;
  }
  &__loadProduct {
    display: flex;
    align-items: center;
    margin-left: 50px;
  }
  &__load {
    margin: 35px;
    cursor: pointer;
  }
  &__data {
    font-size: 16px;
    font-weight: 500;
    line-height: 19.2px;
    margin-left: 40px;
  }
}
