@import './../../styles/abstract/constants.scss';
@import './../../styles/abstract/mixins.scss';

.cardPurchases {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 60px;

  &__imgContainer {
    flex: 0 0 80px;
    height: 78px;
  }

  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
    @include font-body-filters;
    font-size: 11px;
    color: #9e9e9e;
  }

  &__description {
    margin-top: 2px;
    align-self: flex-start;
    flex: 0 0 340px;
  }

  &__name,
  &__brand,
  &__seller {
    margin: 0;
    text-align: start;
  }

  &__brand,
  &__seller {
    @include font-body-filters;
    color: #9e9e9e;
  }

  &__name {
    @include font-body-regular;
    color: #595959;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__brand {
    margin: 5px 0 9px;
  }

  &__loadContainer {
    flex: 0 0 50px;
  }

  &__load {
    cursor: pointer;

    &:hover {
      stroke: #000;
    }

    &_inactive {
      opacity: 0.4;
      pointer-events: none;
    }
  }

  &__data {
    @include font-CTAbody-regular;
    color: #9e9e9e;
    text-align: start;
    flex: 0 0 100px;
  }
}
