@import '../../../styles/abstract/mixins';

.reviews {
  display: flex;
  flex-direction: column;
  width: 635px;
  gap: 25px;
  justify-self: flex-start;
  justify-items: flex-start;
  align-items: flex-start;

  &__headerContainer {
    display: flex;
    flex-direction: row;
  }

  &__header {
    @include font-h2-semibold;
    padding: 0;
    margin: 0 20px 0 0;
  }

  &__ratingContainer {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: baseline;
    gap: 5px;
  }
  &__rate {
    @include font-h3-bold;
    margin: 0;
    padding: 0;
    }
  &__rateText {
    @include font-body-filters;
    margin: 0;
    padding: 0;
  }
  &__more {
    text-decoration: underline;
  }
}

