.popup{
    margin: 0;
    padding: 0;
    position: relative;
    display: flex;
    width: 80%;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__closebtn{
        margin: 0;
        padding: 0;
        background-color: transparent;
        border: none;
        cursor: pointer;
    }

    &__closeicon{
        margin: 0;
        padding: 0;
        position: absolute;
        top: 20px;
        right: 20px;
    }
}
