.container{
    width: 90%;
    max-width: 1010px;
    background-color: #E8ECED;
    border-radius: 20px;
    .button{
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        border-radius: 20px;
        padding: 25px 35px;
        cursor: pointer;
        background-color: transparent;
    }
    .answer{
        text-align: start;
        padding: 0 35px 25px 35px;
        display: none;
        
        &_opened{
            display: block;

        }
    }
}
