@import '../../styles/abstract/constants.scss';
@import '../../styles/abstract/mixins.scss';

.drafts__emptyContainer{
    display: flex;
    flex-direction: column;
    padding-left: 210px;
}
.drafts__title{
    @include font-h1-bold ;
    padding-bottom: 75px;
}
.drafts__link{
    @include font-input-field;
    color: $black-standart-text;
    text-decoration: none;
}
