@import '../../styles/abstract/mixins.scss';
@import '../../styles/abstract/constants.scss';
.form{
    width: 100%;
    max-width: 350px;
}
.selectContainer{
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 15px;
  position: relative;
  &__label{
    margin: 0;
    @include font-CTAbody-regular;
    color: $dark-grey;
    text-align: start;
    padding: 0 0 4px 0;
  }
  &__select {
    width: 100%;
    box-sizing: border-box;
    @include font-input-field;
    padding: 10px 12px;
    border-radius: 8px;
    border: 1px solid $border-input;
    color: $black-standart-text;
    background-color: rgba(233, 242, 255, 0.2);;
    cursor: pointer;
  }
}
.dropdown{
    display: none;
    position: absolute;
    width: 100%;
    z-index: 1;
    top: 65px;
    &_active{
        display: block;
    }
    &__btn{
        width: 100%;
        @include font-input-field;
        margin: 0;
        padding: 8px;
        text-align: left;
        cursor: pointer;
        border: 1px solid $border-input;
        border-radius: 8px;
        background-color: $light-grey
        
    }
    &__label{
        border: 1px solid $border-input;
        color: $black-standart-text;
        background-color: rgba(233, 242, 255, 0.2);
        height: 40px;
        display: flex;
        justify-content: space-between;
        border-radius: 8px;
        cursor: pointer;
    }
    &__text{
        @include font-input-field;
        margin: 0;
        padding: 8px;
        align-self: center;
    }
    &__chevron{
        width: 24px;
        height: 24px;
        border: none;
        background: url('../../images/chevron.svg') no-repeat center;
        margin: 8px;
    }
}
.containerForFile{
  position: relative;
  width: 74%;
  display: flex;
  flex-direction: column;
 
  &__img{
    width: 100%;
    position: absolute;
    width: 40px;
    height: 40px;
    background: url('../../images/upload.svg');
    right: 0;
    left: 44%;
    top: 70px;
  }
  &__label{
    position: absolute;
    top: 135px;
    margin: 0;
    @include font-body-filters;
    color: $grey;
  }
}
.sellerAddCard {

  &__title {
    width: 100%;
    padding:0;
    @include font-CTAbody-regular;
    color: $dark-grey;
    text-align: left;
    padding-bottom: 10px;
    margin: 0;
    &_first {
      width: 100%;
      padding-left: 12px;
      @include font-CTAbody-regular;
      color: $dark-grey;
      text-align: left;
      padding-bottom: 10px;
      margin: 0;
    }
  }
  &__loadImg {
    display: none;
  }
  &__load {
    box-sizing: border-box;
    @include font-CTAbody-regular;
    padding: 10px 12px;
    border-radius: 8px;
    border: 1px solid $border-input;
    color: $dark-grey;
    background-color: rgba(233, 242, 255, 0.2);
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 175px;
    margin-bottom: 15px;;
    &_logo {
      display: flex;
      margin-bottom: 15px;
    }
  }
  &__label {
    display: flex;
  }
  &__btncontainer {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    gap: 40px;
    max-width: 580px;
  }
}
.textArea{
    display: flex;
    flex-direction: column;
    width: 100%;
    &__label{
        @include font-CTAbody-regular;
        color: $dark-grey;
        text-align: start;
        padding-bottom: 5px;
    }
    &__input{
        border-radius: 8px;
        border: 1px solid $border-input;
        min-height: 195px;
        margin-bottom: 15px;
        &:focus{
            outline: none;
        }
        &_type_keyword{
            min-height: 80px;
        }
    }
    
}
