@import '../../../styles/abstract/mixins';

.productInfo {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 30px;
  &__slider {
    width: 540px;
    height: 540px;
  }
  &__description {
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-items: flex-start;
    align-items: flex-start;
  }
  &__category{
      @include font-CTAbody-regular;
      color: $dark-grey;
      margin: 0;
      padding: 0;
    }
  &__name {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    h1 {
      @include font-h2-semibold;
      text-align: left;
      margin: 0;
      padding: 0;
    }
    h2 {
      @include font-body-regular;
      padding-bottom: 15px;
      color: $dark-grey;
      margin: 0;
    }
    p {
      @include font-body-filters;
      color: $dark-grey;
      margin: 0;
      padding: 0;
    }
  }
  &__priceInfo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    h3 {
      @include font-table-bold;
      margin: 0;
    }
    div {
      max-width: 270px;
      margin: 0 75px 0 25px;
      p {
      @include font-CTAbody-regular;
        color: $dark-grey;
      }
    }
  }

  &__text {
    @include font-body-regular;
    color: $black-standart-text;
  }

}
