@import './../../styles/abstract/constants.scss';
@import '../../styles/abstract/mixins.scss';

.input {
  @include font-CTAbody-regular;
  border: 1px solid $border-input;
  background-color: $light-grey;
  width: 560px;
  height: 50px;
  border-radius: 20px;
  padding: 12px 10px;
&:focus {
  outline: none;
}
  &:invalid {
    border: 1px solid $red-alert-system;
    color: $red-alert-system;
  }
  &_invalid {
    border: 1px solid $red-alert-system;
    color: $red-alert-system;
  }
  &_variant {
    &_popup {
      width: 560px;
    }
  }
}
