@import '../../styles/abstract/mixins.scss';
@import '../../styles/abstract/constants.scss';

.title{
    margin: 45px 0 0 0;
    @include font-table-bold;
    color: $black-standart-text;
}
.subtitle{
    color: $dark-grey;
    @include font-input-field;
    padding: 23px 0 20px 0;
    margin: 0;
    &:last-of-type{
        padding: 0 0 40px 0;
    }
}
.containerForSubmitBtn{
    width: 70%;
}
