@import '../../styles/abstract/constants.scss';
@import '../../styles/abstract/mixins.scss';

.draft {
  flex: 0 0 730px;

  &__list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 0;
    margin-top: 25px;
  }
}
