.header{
    margin: 0;
    padding: 0;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}
.btncontainer{
    margin: 0;
    padding: 0;
    display: flex;
    gap: 60px;

    &__profile{
        margin: 0;
        padding: 0;
        width: 48px;
        border: none;
        background-color: #545F71;
        height: 48px;
        border-radius: 50%;
        cursor: pointer;
    }
    &__profileicon{
        width: 20px;
        height: 20px;
    }
    &__likebtn{
        margin: 0;
        padding: 0;
        background-color: transparent;
        border: none;
        cursor: pointer;
    }
    &__likeicon{
        width: 25px;
        height: 25px;
    }
    &__shopbtn{
        margin: 0;
        padding: 0;
        border: none;
        background-color: transparent;
        cursor: pointer;
    }
    &__shopicon{
        width: 25px;
        height: 25px;
    }
    &__profileenter{
        border-radius: 14px;
        border: none;
        background-color: #545F7187;
        padding: 10px;
        cursor: pointer;
    }
}
