@import './../../styles/abstract/constants.scss';
@import './../../styles/abstract/mixins.scss';

.header{
    max-width: 1110px;
    width: 100%;
    margin: 0 auto;
    padding: 30px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid $light-grey;
    &__logo{
        flex-shrink: 0;
        width: 65px;
        height: 45px;
        // border-radius: 10px;
        // background-color: $light-grey;
    }
}
.btncontainer{
    margin: 0 0 0 30px;
    padding: 0;
    display: flex;
    gap: 15px;
    align-items: center;
    justify-content: flex-end;
    
    &__profile{
        margin: 0 10px;
        padding: 0;
        width: 48px;
        border: none;
        background-color: $light-grey;
        color: $dark-grey;
        height: 48px;
        border-radius: 50%;
        text-decoration: none;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &__profileicon{
        width: 20px;
        height: 20px;
    }
    &__likebtn{
        margin: 0;
        padding: 0;
        background-color: transparent;
        border: none;
        cursor: pointer;
        background: url('../../images/heart_black.svg') no-repeat center;
        width: 25px;
        height: 25px;
    }
    &__shopbtn{
        margin: 0;
        padding: 0;
        border: none;
        background-color: transparent;
        cursor: pointer;
        object-fit: cover;
        width: 25px;
        height: 25px;
        background: url('../../images/shopping-cart.svg') no-repeat center;
    }
    &__profileenter{
        border-radius: 20px;
        margin: 0 3px;
        border: none;
        background-color: transparent;
        color: $black-standart-text;
        @include font-body-regular;
        transition: all .4s;
        &:hover{
            cursor: pointer;
            ;
        }
    }
}
