.wrapper {
	--thumb-size: 20px;
	--track-size: calc(var(--thumb-size) * 4);
	--thumb-position: 0%;
	display: inline-flex;
	gap: 16px;
	align-items: center;
	user-select: none;
	position: relative;
	transition: all .4s ease;
	width: auto;

	.textlabel{
		width: 100%;
		position: absolute;
		top: 0;
		display: flex;
		justify-content: space-between;
	}
	.text{
		margin: 0;
		padding: 0;
	}
	.toggle {
		appearance: none;
		border: none;
		box-sizing: content-box;
		padding: 2px;
		background: grey;
		height: var(--thumb-size);
		width: var(--track-size);
		border-radius: var(--track-size);
		cursor: pointer;
		display: flex;
		transition: all .4s ease;

		&::before{
			content: "";
			display: block;
			transform: translateX(var(--thumb-position));
			height: var(--thumb-size);
			width: calc(var(--thumb-size) * 2);
			transition: transform .4s ease;
			background-color:blue;

			border-radius: 10px;
		}
		&:checked{
			--thumb-position: calc(var(--track-size) - 100%);
			
		}
	
	}
}
