@import '../../styles/abstract/constants.scss';
@import '../../styles/abstract/mixins.scss';

.cartItem {
  display: grid;
  grid-template-columns: 30px 100px 487px 140px 90px;
  height: 114px;
  color: $black-standart-text;
  align-items: center;
  justify-content: space-between;

width: 1010px;
  &__img {
    width: 100px;
    height: 100px;
  }

  &__name {
    @include font-body-regular;
    margin: 0;
  }

  &__info {
    text-align: start;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  &__type {
    @include font-body-filters;
    color: #9e9e9e;
    margin-right: 25px;
  }

  &__parameters {
    display: flex;
    align-items: center;
    position: relative;
    gap: 10px;
  }

  &__question {
    font-size: 8px;
    background-color: $light-grey;
    color: $dark-grey;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    margin-left: 15px;
    cursor: pointer;
  }

  &__question:hover {
    background-color: $dark-grey;
    color: $white-standart;
  }

  &__price {
    @include font-body-card;
    text-wrap: nowrap;
    text-align: end;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  &__buttons {
    display: flex;
    gap: 10px;
    color: $dark-grey;
  }

  &__trash:hover {
    color: $black-standart-text;
  }

  &__like:active {
    color: $black-standart-text;
  }

  &__quantity {
    display: flex;
    justify-content: space-between ;
    color: $black-standart-text;
    @include font-body-card;
    align-items: center;

  }

  &__quantityButton {
    width: 23px;
    height: 23px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $dark-grey;
    border-radius: 3px;
    box-sizing: border-box;
    border: 2px solid $dark-grey;
  }
}
