@import '../../styles/abstract/constants.scss';
@import '../../styles/abstract/mixins.scss';

.cartItem {
  display: grid;
  grid-template-columns: 20px 110px 349px 90px 89px;
  height: 105px;
  color: $black-standart-text;
  align-items: center;
  justify-content: space-between;
  text-decoration: none;
  list-style: none;

  width: 762px;


  &__img {
    width: 80px;
    height: 80px;
    cursor: pointer;
  }

  &__name {
    @include font-body-regular;
    margin: 0;
    cursor: pointer;
    margin-top: 5px;
  }

  &__info {
    text-align: start;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  &__type {
    @include font-body-regular;
    color: #9e9e9e;
    margin-right: 10px;
  }

  &__parameters {
    display: flex;
    align-items: center;
    position: relative;
    
  }

  &__installationText {
    margin-left: 15px;
  }

  &__question {
    font-size: 8px;
    background-color: $light-grey;
    color: $dark-grey;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    margin-left: 15px;
    cursor: pointer;
  }

  &__question:hover {
    background-color: $dark-grey;
    color: $white-standart;
  }

  &__price {
    @include font-h3-bold;
    text-wrap: nowrap;
    text-align: end;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  &__buttons {
    margin-top: 5px;
    display: flex;
    gap: 15px;
    color: $dark-grey;
    
  }

  &__trash:hover {
    color: $black-standart-text;
  }

  &__like {
    opacity: 0.5;
    transition: opacity 0.2s ease;
    padding: 0;

    border: none;
    background-color: transparent;
    cursor: pointer;
  }
  &__like:hover {
    opacity: 1;
  }

  &__like:active {
    color: $black-standart-text;
  }






  &__quantity {
    display: flex;
    justify-content: space-between;
    color: $black-standart-text;
    @include font-h3-bold;
    align-items: center;
  }


  &__increaseQuantity {
    width: 21px;
    height: 21px;
    background-image: url('../../images/plus.svg');
    border: none;
    background-position: center;
  }

  &__decreaseQuantity {
    width: 21px;
    height: 21px;
    background-image: url('../../images/minus.svg');
    border: none;
    background-position: center;
    cursor: pointer;
  }


  &__increaseQuantity:hover {
    background-image: url('../../images/plus_hovered.svg');

  }

  &__decreaseQuantity:hover {
    background-image: url('../../images/minus_hovered.svg');

  }

  &__decreaseQuantity:disabled {
    color: $light-grey;
    pointer-events: none;
    opacity: 0.5;

  }

  &__increaseQuantity:disabled {
    color: $light-grey;
    pointer-events: none;
    opacity: 0.5;
  }

}
