@import './../../styles/abstract/constants.scss';
@import '../../styles/abstract/mixins.scss';

.form {
position: relative;
  &_type {
    &_register {
      &_buttonContainer {
        margin: 35px auto 0;
      }
    }
    &_twoButtons {
      &_buttonContainer {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 45px auto 0;
      }
    }
    &_search {
      &_buttonContainer {
        position: absolute;
        top: 5px;
        right: 15px;
      }
    }
    &_data {
    }
  }
}
