@import '../../styles/abstract/constants.scss';
@import '../../styles/abstract/mixins.scss';

.breadcrumbs {
  margin-top: 70px;
  padding: 0 80px;
}

.search {
  margin-left: 80px;
  &__title {
    margin-top: 70px;
    text-align: start;
    @include font-h1-bold;
  }

  &__notFound {
    margin-top: 15px;
    text-align: start;
    @include font-body-regular;
  }

  &__items {
    margin-top: 75px;
  }
}
