@import '../../styles/abstract/constants.scss';
@import '../../styles/abstract/mixins.scss';

.breadcrumbs {
  margin-top: 65px;
}

.search {
  &__title {
    margin-top: 45px;
    text-align: start;
    @include font-h1-bold;
  }

  &__notFound {
    margin-top: 50px;
    text-align: start;
    @include font-body-regular;
  }

  &__items {
    margin-top: 25px;
  }
}
