@import '../../styles/abstract/constants.scss';

.form {
  margin: 0 0 0 40px;
  padding: 0 0 0 15px;
  box-sizing: border-box;
  border-radius: 30px;
  border: 1px solid $dark-grey;
  max-width: 380px;
  width: 45%;
  opacity: 0.52;
  display: flex;
  justify-content: center;
  align-items: center;
}

.input {
  color: #000;
  margin: 0;
  padding: 0;
  border: none;
  border-radius: 10px;
  width: 90%;
  height: 35px;

  &:focus {
    outline: none;
  }
}

.button {
  margin: 0 0 0 10px;
  padding: 0;
  border: none;
  background-color: transparent;
  color: $dark-grey;
  display: flex;
  place-content: center;
  cursor: pointer;

  &__search {
    width: 25px;
    height: 25px;
    object-fit: contain;
    margin-right: 15px;
  }
}
