@import '../../styles/abstract/constants.scss';
.form{
    margin: 0 0 0 90px;
    padding: 0;
    border-radius: 20px;
    border: 1px solid $dark-grey;
    width: 45%;
    max-width: 560px;
    opacity: 0.52;
    display: flex;
    justify-content: center;
    align-items: center;
}
.input{
    margin: 0;
    padding: 0;
    border: none;
    width: 90%;
    height: 45px;
    &:focus{
        outline: none;
    }

}
.button{
    margin: 0 0 0 10px;
    padding: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
    &__search{
        width: 25px;
        height: 25px;
        object-fit: contain;
    }
}
