
.footer {
  height: 166px;
  background-color: #55505c;

  font-weight: 700;
  // font-size: ;
  padding: 30px 80px 0;
  
  &__content {
    display: flex;
    justify-content: space-between;
    max-width: 1000px;
  }

  &__logo {
    width: 110px;
    height: 44px;
    background-color: white;
    border-radius: 5px;
  }

  &__column {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  &__link {
    text-decoration: none;
    color: white;

  }


  &__socialMedia {
  }


  &__socialIcons {
    display: flex;
  }

  &__socialIcon {
    color: white;
    text-decoration: none;
    width: 35px;
    height: 35px;
  }

  &__item {
    // margin-bottom: 20px;
    // margin-right: 150px;
  }
}
