@import './../../styles/abstract/constants.scss';
@import '../../styles/abstract/mixins.scss';

.footer {

  padding: 40px 0 30px;

  height: 145px;
  background-color: $dark-grey;

  @include font-body-regular;
  color: $white-standart;

  &__content {
    display: grid;
    grid-template-columns: 100px 180px 330px auto;
    justify-content: space-between;
    max-width: 1110px;
    width: 100%;
    margin: 0 auto;
  }

  &__logo {
    width: 110px;
    height: 44px;
    border-radius: 5px;
  }

  &__column {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-left: 18px;
  }

  &__link {
    text-decoration: none;
    color: $white-standart;
  }

  &__socialMedia {
    margin: 0;
    margin-right: 25px;
  }

  &__socialBLock {
    display: flex;
    align-items: center;
    align-self: self-start;
    margin-left: 15px;
    gap: 13px;
  }

  &__socialIcons {
    padding: 0;
    list-style: none;
    display: flex;
    gap: 8px;
    margin: 0;
  }

  &__socialItem {
    height: 35px;
  }

  &__socialIcon {
    color: $white-standart;
    text-decoration: none;
    width: 35px;
    height: 35px;
    border-radius: 50%;
  }

  &__socialIcon:hover {
    fill: $black-standart-text;
  }
}
