@import './../../styles/abstract/constants.scss';
@import '../../styles/abstract/mixins.scss';

.footer {
  height: 166px;
  background-color: $dark-grey;
  padding: 30px 80px 0;
  @include font-body-regular;
  color: $white-standart;

  &__content {
    display: grid;
    grid-template-columns: 110px 260px 400px 410px;
    justify-content: space-between;
  }

  &__logo {
    width: 110px;
    height: 44px;
    border-radius: 5px;
  }

  &__column {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: left;
    display: flex;
    flex-direction: column;
    margin-left: 16px;
  }

  &__link {
    text-decoration: none;
    color: $white-standart;
  }

  &__socialMedia {
    margin: 0;
    margin-right: 25px;
  }

  &__socialBLock {
    display: flex;
    align-items: center;
    align-self: self-start;
  }

  &__socialIcons {
    padding: 0;
    list-style: none;
    display: flex;
    gap: 8px;
    margin: 0;
  }

  &__socialItem {
    height: 35px;
  }

  &__socialIcon {
    color: $white-standart;
    text-decoration: none;
    width: 35px;
    height: 35px;
    border-radius: 50%;
  }

  &__socialIcon:hover {
    fill: $black-standart-text;
  }

  // &__item {
  //   margin-left: 16px;
  // }
}
