@import '../../styles/abstract/mixins.scss';
@import '../../styles/abstract/constants.scss';

.table{
    display: flex;
    flex-direction: column;
}
.thead{
    padding-bottom: 5px;
    border-bottom: 1px solid $light-grey;
    margin: 7px 0 23px 0;
    box-sizing: border-box;
}
.cell{
    text-align: start;
    max-height: 40px;
    font-size: 20px;
    font-weight: 400;
    line-height: 25px;
    padding: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    @include font-body-regular;
    &__text{
        padding: 0;
        margin: 0;
        max-height: 25px;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }
    &_type_body{
        padding: 17px 0;
    }
}

.line{
    text-decoration: none;
    color: $black-standart-text;
    display: flex;
    gap: 20px;
    align-items: center;
    transition: all .2s ease-in-out;
    &_type_head{
        padding: 0 0 4px 0;
        border-bottom: 1px solid $light-grey;
    }

}
.cellSeller{
    width: 150px;
}
.cellName{
    width: 255px;
}
.cellVendor{
    width: 140px;
}
.cellArt{
width: 100px;
}
.cellComplaints{
    width: 100px;
}
.line_type_body:hover{
    cursor: pointer;
    background-color: $light-grey;
}
.cellQty{
    display: inline-block;
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px;
    padding: 5px 11px;
    margin-left: 0;
    border-radius: 20px;
    background-color: $accent-lime-yellow;
}
.lineTr{
    display: inline-block;
    width: 100%;
}
