@import './../../styles/abstract/constants.scss';
@import '../../styles/abstract/mixins.scss';


.tooltip {
    position: absolute;
    top: -55px;
    left: 290px;
    // transform: translateX(-50%);
    background-color: $light-grey;
    padding: 10px 14.5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1;
    display: block;
    color: $dark-grey;
    width: 158px;
    height: 64px;
    @include font-body-signature;
    border-radius: 5px;
    box-sizing: border-box;
  }
  
//   .tooltip_visible {
//     display: block;
//   }
