@import '../../styles/abstract/constants.scss';
@import '../../styles/abstract/mixins.scss';

.recommended {
  padding: 110px 80px 0;
  &__title {
    margin: 0;
    text-align: start;
    @include font-h1-bold;
  }

  &__list {
    margin-top: 65px;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(5, 320px);
    justify-content: space-between;
    gap: 40px;
    padding: 0;
  }
}
