
@import '../../styles/abstract/constants.scss';

.personalSettingsPassword {
  max-width: 350px;
  width: 100%;

  &__btncontainer {
    display: flex;
    justify-content: space-between;
    gap: 40px;
  }
}
