@import '../../styles/abstract/constants.scss';
@import '../../styles/abstract/mixins.scss';

.cartSummary {
  display: flex;
  justify-content: center;
  width: 100%;

  &__result {
    padding: 55px 35px 45px;
    width: 411px;
    height: 244px;
    border: 1px solid $light-grey;
    border-radius: 20px;
    text-align: start;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    margin-top: 42px;
  }

  &__upshot {
    display: flex;
    justify-content: space-between;
    @include font-h3-regular;
    margin-bottom: 10px;
  }

  &__header {
    margin: 0;
    margin-right: 10px;
  }

  &__finishPrice {
    margin: 0;
    text-align: end;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  &__quantity {
    color: $dark-grey;
  }

  &__ButtonBlock {
    width: 290px;
    text-align: center;
    align-self: center;
    margin-top: 25px;
  }
}
