@import './../../styles/abstract/constants.scss';
@import '../../styles/abstract/mixins.scss';

.inputWrapper {
  display: flex;
  flex-direction: column;
  min-height: 85px;

&__label {
@include font-body-regular;
  color: $black-standart-text;
  padding-bottom: 5px;
  text-align: start;
}

&__hint {
@include font-body-filters;
  color: $dark-grey;
}

&__error {
@include font-body-filters;
  color: $red-alert-system;
  text-align: left;
}
}


