@import '../../styles/abstract/constants.scss';
@import '../../styles/abstract/mixins.scss';

.personalSettings {
    margin: 0;
    max-width: 560px;
    width: 100%;
  }
  .form{
    max-width: 350px;
    width: 100%;
  }
  .btncontainer{
    margin-top: 20px;
    width: 100%;
    max-width: 290px;
  }
