@import '../../styles/abstract/constants.scss';
@import '../../styles/abstract/mixins.scss';

.personalSettings {
    margin-top: 70px;
    margin-left: 115px;
    max-width: 560px;
    width: 100%;

    &__title {
      margin: 0;
      @include font-h2-simibold;
      text-align: start;
    }
    &__subtitle {
      margin: 25px 0 0 0;
      @include font-body-regular;
      text-align: start;
    }
    &__titles {
      margin-top:45px;
      text-align: start;
    }
    &__data {
      @include font-body-regular;
      text-align: center;
      text-decoration: none;
      color: $black-standart-text;
      width: 270px;
      padding: 5px 25px;
      border: none;
      background-color: transparent;
      cursor: pointer;
      &_aktive {
        background-color:  $accent-lime-yellow;
        border-bottom: 2px solid $dark-grey;
      }
    }
    &__data:hover {
      border-bottom: 2px solid $dark-grey;
    }
  }
