@import '../../styles/abstract/constants.scss';
@import '../../styles/abstract/mixins.scss';

.personalSettings {
    margin: 0;
    max-width: 560px;
    width: 100%;
  }
  .form{
    padding-top: 5px;
    max-width: 350px;
    width: 100%;
  }
  .containerForInput{
    position: relative;
    &::before{
      content: '+7';
      position: absolute;
      color: $dark-grey;
      display: block;
      height: 20px;
      width: 20px;
      top: 34px;
      left:12px;
      color: $black-standart-text;
      @include font-input-field;
    }
  }
