.personalPurchases {
    margin-top: 65px;
<<<<<<< HEAD
    margin-left: 150px;
=======
    margin-left: 100px;
>>>>>>> fde3509e210d5aa43cf02d56fd39c68a689ff9fb
    &__title {
        margin: 0;
        font-size: 36px;
        font-weight: 600;
        line-height: 50px;
        text-align: start;
    }

    &__list {
        margin-top: 35px;
        list-style: none;
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding: 0;
    }

    &__item {
      background-color: white;
    }
}
