@import '../../styles/abstract/constants.scss';
@import '../../styles/abstract/mixins.scss';

.swiper {
  margin-top: 50px;
  width: 100%;
  height: 460px;
  overflow-x: clip !important;
  overflow-y: unset !important;
}

.swiper-slide {
  border-radius: 40px;
  max-width: 1460px;
  height: 100%;
  overflow: hidden;
  background-color: black;
}

.swiper-slide__content {
  display: inline-block;
  width: 100%;
  height: 100%;
}

.swiper-slide__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-slide__text-container {
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 40%;
  z-index: 5;
  padding: 70px 50px;
  overflow-wrap: anywhere;
}

.swiper-slide__text {
  // font-size: 36px;
  // font-weight: 600;
  margin: 0;
  color: $white-standart;
  text-align: start;
  @include font-h2-simibold
}

.swiper-pagination {
  bottom: -25px !important;
}

.swiper-pagination-bullet-active {
  background-color: $dark-grey !important;
}

