@import '../../styles/abstract/constants.scss';
@import '../../styles/abstract/mixins.scss';

.swiper__wrapper {
  position: relative;
}

.swiper {
  position: unset !important;
  margin-top: 74px;
  height: 310px;
}

.swiper-slide {
  border-radius: 40px;
  max-width: 1000px;
  height: 100%;
  overflow: hidden;
  background-color: $dark-grey;
  background-image: url('../../images/slider-svg-circle.svg');
  background-position: right;
  background-repeat: no-repeat;

  &__content {
    display: flex;
    width: 100%;
    height: 100%;
  }

  &__img-container {
    width: 422px;
    flex-grow: 1;
  }

  &__img {
    width: 100%;
    border-radius: 40px;
    height: 100%;
    object-fit: cover;
  }

  &__text-container {
    display: flex;
    gap: 15px;
    flex-direction: column;
    justify-content: space-between;
    width: 510px;
    padding: 50px 60px 40px;
  }

  &__text {
    overflow: hidden;
    margin: 0;
    color: $white-standart;
    text-align: start;
    @include font-body-bold;
    font-weight: 600;
    line-height: 35px;
  }

  &__btn {
    display: flex;
    width: 284px;
    min-height: 55px;
    background-color: $accent-lime-button;
    border-radius: 32px;
    text-decoration: none;
    color: $black-standart-text;
    justify-content: center;
    align-items: center;
    @include font-body-filters;
    line-height: 20px;
  }
}

.swiper-pagination {
  bottom: -28px !important;
}

.swiper-pagination-bullet {
  width: 10px !important;
  height: 10px !important;
}

.swiper-pagination-bullet-active {
  background-color: $dark-grey !important;
}

.swiper-button-next, .swiper-button-prev {
  position: absolute;
  width: 50px;
  height: 50px;
  background-color: $white-standart;
  border-radius: 50%;
  color: $dark-grey;
  border: 1px solid $border-input;
  z-index: 1;
  top: 120px;
  cursor: pointer;
}

.swiper-button-prev {
  left: -23px;
  background-image: url('../../images/slider-nav-chevron.svg');
}

.swiper-button-next {
  right: -23px;
  background-image: url('../../images/slider-nav-chevron.svg');
  transform: rotate(180deg);
}
