@import '../../styles/abstract/constants.scss';
@import '../../styles/abstract/mixins.scss';
.wrapper {
	--thumb-size: 50px;
	--track-size: 350px;
	--thumb-position: 0%;
	display: inline-flex;
	gap: 16px;
	align-items: center;
	user-select: none;
	position: relative;
	transition: all .4s ease;
	width: 350px;

	.textlabel{
		width: 100%;
		position: absolute;
		top: 0;
		display: flex;
		justify-content: space-between;
		align-items: center;
		height: 100%;
		cursor: pointer;
	}
	.text{
		margin: 0;
		padding: 0;
		width: 50%;
		@include font-CTAbody-regular;
	}
	.toggle {
		margin: 0;
		appearance: none;
		border: none;
		box-sizing: content-box;
		padding: 2px;
		background:  $light-grey;
		height: var(--thumb-size);
		width: var(--track-size);
		border-radius: 20px;
		cursor: pointer;
		display: flex;
		transition: all .4s ease;

		&::before{
			content: "";
			display: block;
			transform: translateX(var(--thumb-position));
			height: calc(var(--thumb-size) - 3px);
			width: calc(var(--track-size) / 2);
			transition: transform .4s ease;
			background-color: $white-standart;
			border-radius: 20px;
			border: 2px solid  $light-grey;
		}
		&:checked{
			--thumb-position: calc(var(--track-size) - 100%);
			
		}
	
	}
}
